* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

.container {
    display: flex;
}

.sidebar {
    height: 100vh;
    width: 700px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.sidebar img {
    height: 100vh;
}

.odinimg {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    color: white;
    margin-top: 200px;
    position: absolute;
    width: 100%;
    padding: 20px;
}

.odinimg > img {
    height: 125px;
}

.credits {
    position: absolute;
    margin-top: 98vh;
    color: white;
}

.credits > a {
    color: white;
}

.main-content {
    font-size: 1.5em;
    font-weight: 700;
    background-color: rgb(243, 243, 243);
}

.heading {
    margin-top: 100px;
    margin-bottom: 40px;
}

label {
    display: block;
    font-size: 20px;
}

input {
    width: 300px;
    margin-bottom: 20px;
}

.row {
    display: flex;
    width: 100%;
    gap: 3em;
}

.form-section {
    /* border: 1px solid red; */
    width: 100%;
    box-shadow: 2px 5px 15px grey;
    background-color: white;
}

.main-content > * {
    padding: 10px 50px;
}
